/*LIGHT-THEME*/
body[data-theme='light']
{
  --border-color : #000;
  --heading : #3700B3;
  --on-heading : #fff;
  --row-hover : #3700B3;
  --on-row-hover : #fff;
  --even-row-color : #6200EE;
  --on-even-row : #fff;
  --odd-row-color : #fff;
  --on-odd-row : #000;  

  --primary-color : #6200EE;
  --primary-variant-color : #3700B3;
  --secondary-color : #03DAC6;
  --message-color : #B00020;
  --background-color : #FFF;
  --surface-color : #FFF;
  --on-primary : #FFF;
  --on-primary-variant : #FFF;
  --on-secondary : #000;
  --on-background : #000;
  --on-surface : #000;
  --on-message : #FFF;
  --top-heading : #6200EE;
  --top-heading-text : #FFF;
}

/*TRICOLOR-THEME*/
body[data-theme='tricolor']
{
  --border-color : #000;
  --heading : #000080; 
  --on-heading : #FF9933;
  --row-hover : #000080;
  --on-row-hover : #FF9933;
  --even-row-color : #138808;
  --on-even-row : #fff;
  --odd-row-color : #FF9933;
  --on-odd-row : #000;

  --primary-color : #138808;
  --primary-variant-color : #000080;
  --secondary-color : #03DAC6;
  --message-color : #B00020;
  --background-color : #FFF;
  --surface-color : #FF9933;
  --on-primary : #fff;
  --on-primary-variant : #fff;
  --on-secondary : #000;
  --on-background : #000;
  --on-surface : #000;
  --on-message : #fff;
  --top-heading : #138808;
  --top-heading-text : #fff;
}

/*CLASSIC-THEME*/
body[data-theme='classic']
{
  --border-color : #000;
  --heading : #F65058;
  --on-heading : #28334A;
  --row-hover : #F65058;
  --on-row-hover : #28334A;
  --even-row-color : #FBDE44;
  --on-even-row : #28334A;
  --odd-row-color : #28334A;
  --on-odd-row : #fff;

  --primary-color : #FBDE44;
  --primary-variant-color : #F65058;
  --secondary-color : #28334A;
  --message-color : #F65058;
  --background-color : #888888;
  --surface-color : #28334A;
  --on-primary : #28334A;
  --on-primary-variant : #fff;
  --on-secondary : #FFF;
  --on-background : #28334A;
  --on-surface : #F65058;
  --on-message : #fff;
  --top-heading :#FBDE44;
  --top-heading-text :#28334A;
}

/*DARK-THEME*/
body[data-theme='dark']
{
  --border-color : #fff;
  --heading : #3700B3;
  --on-heading : #BB86FC;
  --row-hover : #3700B3;
  --on-row-hover : #BB86FC;
  --even-row-color : #BB86FC;
  --on-even-row : #000;
  --odd-row-color : #1F1A24;
  --on-odd-row : #fff;

  --primary-color : #BB86FC;
  --primary-variant-color : #3700B3;
  --secondary-color : #03DAC6;
  --message-color : #CF6679;
  --background-color : #121212;
  --surface-color : #1F1A24;
  --on-primary : #000;
  --on-primary-variant : #fff;
  --on-secondary : #000;
  --on-background : #fff;
  --on-surface : #fff;
  --on-message : #000;
  --top-heading : transparent;
  --top-heading-text : #BB86FC;
}

/* BODY */
body
{
    background: var(--background-color);
    user-select: none;
    margin : 0;
}

/*MENU-BAR*/
.menu-bar {
  width : 100%;
  overflow: hidden;
  background: var(--surface-color);
  position: fixed;
  top: 0;    
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

/*MENU-BAR-LINKS*/
.menu-bar a {
  width: 20%;  
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: var(--on-surface);
  font-family: 'Fredoka One';
  font-size: 15px;
}

/*MENU-BAR-LINKS-ON-HOVER*/
.menu-bar a:hover {
  color: var(--on-primary-variant); 
  background-color: var(--primary-variant-color);
  border-radius : 4px;
}

.menu-bar a:focus 
{
  color: var(--on-primary-variant); 
  background-color: var(--primary-variant-color);
  border-radius : 4px;
  outline: none;
}

/*MENU-BAR-LINKS-WHEN-ACTIVE*/
.active
{  
  background : var(--primary-color);
  color: var(--on-primary);
  border-radius : 4px;
}

/*TOP-HEADING*/
#top
{
    text-align: center;
    background: var(--top-heading);
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 0;
}

/*TOP-HEADING-TEXT*/
#topHeading
{
  color: var(--top-heading-text);
  font-family: 'Orbitron';
  font-size: 37.5px;
  transition: all 0.3s ease-in-out;
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}

#database
{  
  border-spacing: 0px;
  cursor: pointer;
  overflow: auto;
  white-space: nowrap;
  margin : 0;
  padding : 0;
  width : 100%;
  margin-top: 200px;
}

#database tr:hover
{
    transition: 0.25s ease-in-out;
    background: var(--row-hover);
    color: var(--on-row-hover);
}

#database tr:focus
{
    transition: 0.25s ease-in-out;
    background: var(--row-hover);
    color: var(--on-row-hover);
    outline: none;
}

/* TABLE-HEADING */
th
{
  padding: 5px;
  text-align: center;
  font-family: 'Alegreya';
  font-weight: 900; 
  background: var(--heading);
  color: var(--on-heading);
  font-size: 25px;
}

/* TABLE-FIELD */
td
{
  padding: 4px;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 900;
}

.odd{
  color: var(--on-odd-row);
  background: var(--odd-row-color);   
}

.even{
  background: var(--even-row-color);    
  color: var(--on-even-row);
}

/*TILES*/
.options 
{
  background-color: transparent;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
}
 
/*TILES-LINKS*/
.options a 
{
  display: inline-block;
  vertical-align: middle;
  width: 31%;
  margin: 10px 10px;
  float: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: var(--surface-color);
  color: var(--on-surface);
  font-family: 'Fredoka One';
  font-size: 40px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}

/* SIDE-NAVIGATION-LINK */
#mySidenavLeft a {
  position: absolute;
  left: -206px;
  transition: 0.3s ease-in-out;
  padding: 15px;
  width: 200px;
  text-decoration: none;
  color: var(--on-primary-variant);
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  font-family: 'Comfortaa';
  font-size: 18px;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  background-color: var(--primary-variant-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* SIDE-NAVIGATION-LINK-ON-HOVER */
#mySidenavLeft a:hover{
  left: 0;
}

/* INPUT */
input
{  
  width : 100%;
  font-family: "Comfortaa";
  color : var(--on-background) ;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  align-content: center;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 2pt 1pt var(--on-background);
}

input:focus
{
  outline: none;
  box-shadow: 0 0 3pt 2pt var(--on-background);
}

/* SELECT-DROPDOWN */
select
{
  background-color: transparent;
  color: var(--on-background);
  border: 1px solid;
  border-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;  
  align-content: center;
  text-align: center;
  font-weight: 900;
  font-family: 'Comfortaa';
  box-shadow: 0 0 2pt 1pt var(--on-background);
}

select:focus
{
  outline: none;
  box-shadow: 0 0 3pt 2pt var(--on-background);
}

select:disabled
{
  opacity: 1;
}

/* DROPDOWN-CONTENT */
option
{
  background-color: var(--primary-color);
  color: var(--on-primary);
  border : 1px solid var(--on-primary);
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Comfortaa';
  font-size: 15px;
  text-align: center;
}

/* BUTTON */
.btn
{
  width: 25%;
  background-color: var(--primary-color);
  color: var(--on-primary);
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Comfortaa';
  font-size: 17.5px;
  font-weight: 900;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* BUTTON-ON-HOVER */
.btn:hover
{
  transition: 0.25s ease-in-out;
  background-color: var(--primary-variant-color);
}

.btn:focus
{
  transition: 0.25s ease-in-out;
  background-color: var(--primary-variant-color);
  outline: none;
}

#searchByDate :focus
{
  outline: none;
}